*{
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(49, 49, 49);
}
main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}
footer{
    display: flex;
    justify-content: space-between;
    padding:1px 5px;
    background: goldenrod;
    width: 100vw;
    margin: 0;
}
ul li{
    list-style: none;
    color: white;
}
header{
    width: 100vw !important;
    display: flex;
    justify-content: space-evenly;
    padding: 8px;
    background: orange;
}
nav div, h1{
    color: white;
}

.form{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 60vh;
    box-shadow: 5px 5px 45px gray;
    padding: 12px;
    background: white;
    margin: 135px;
    border-radius: 11px;
}

::-webkit-scrollbar{
    width: 0px;
    height: 0px;
}
#login{
    transition: 1s ease-in-out;
    justify-content: space-evenly;
    flex-flow:column;
    transform: rotateY(360deg);
    background: white;
    position: relative;
}
#register{
    transition: 1s ease-in-out;
    justify-content: space-evenly;
    transform: rotateX(360deg);
    background: white !important;
    position: relative;
}
.flex{
    display: flex;
    width: 80vw;
    justify-content: space-between;
}


.userInput{
    padding: 12px;
    outline: none;
    border: none;
    border-radius: 12px;
    box-shadow: 0px 0px 55px gray;
    margin: 5px 4px;
    width: 270px;
}
.sub{
    width: 300px;
    background: orangered;
    border: none;
    outline: none;
    border-radius: 7px;
    padding: 12px;
    box-shadow: 0px 0px 15px gray;
    color: white;
    font-weight: 800;
}
.getAllUsers{
    color: white;
    background:purple;
    padding: 5px;
    width: 400px;
    display: block;
    margin: auto;
}
.output{
 width: 30vw;
 box-shadow: 5px 5px 15px grey;
 display: flex;
 flex-direction: column;
 margin: auto;
 padding: 15px;
 border-radius: 12px;
}
.output h1{
    color: greenyellow;
}
.output p{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    text-align: left;
}
.output span{
    text-align: right;
    color: green;
}
.update{
    background: red;
}